<div class="container">
   {{#bs-navbar type=(if inverse 'inverse') fluid=fluid as |navbar|}}
      <div class="navbar-header">
         {{navbar.toggle}}
         {{#link-to "index" class='navbar-brand'}}Stocker{{/link-to}}
      </div>
      {{#navbar.content}}
         {{#navbar.nav as |nav|}}
            {{#nav.item}}{{#nav.link-to "transaction"}}Transactions{{/nav.link-to}}{{/nav.item}}
         {{/navbar.nav}}
      {{/navbar.content}}
   {{/bs-navbar}}

   <div class="body">
      {{outlet}}
   </div>
</div>
