<form id="form-transaction" {{action "createTransaction" transaction on="submit"}}>
   <h2>Create a new Transaction</h2>
   {{input value=model.date}}
   <button type='submit'>Submit</button>
   <button {{action "addMoreAsset" model}}>Add Asset</button>
</form>
